@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-[15px] font-light overflow-y-scroll;
  }
  h1 {
    @apply font-black text-h1 md:text-h1-md xl:text-h1-lg;
  }
  h2 {
    @apply font-bold text-h2 md:text-h2-md lg:text-h2-lg;
  }
  h3 {
    @apply font-bold text-h3 md:text-h3-md lg:text-h3-lg;
  }
  h4 {
    @apply font-bold text-h4 md:text-h4-md xl:text-h4-lg;
  }
  h5 {
    @apply font-bold text-h5 xl:text-h5-lg;
  }
  h6 {
    @apply font-bold text-h6;
  }
  p {
    @apply leading-5 text-sm md:text-sm;
  }
  a {
    @apply cursor-pointer inline-flex;
  }
  address {
    @apply not-italic;
  }
  blockquote {
    @apply italic text-gray-400;
  }
  input[type='text'] {
    @apply box-border border-gray-300 text-gray-900 text-sm rounded-sm block w-full p-2.5 focus:outline-none;
  }
  .primary-btn {
    @apply box-border justify-center text-white hover:text-picton-blue border border-picton-blue hover:border-white bg-picton-blue hover:bg-white font-bold rounded-sm py-2.5 focus:outline-none;
  }
  .secondary-btn {
    @apply box-border justify-center text-black hover:text-white border border-black hover:border-picton-blue hover:bg-picton-blue font-bold rounded-sm py-2.5 focus:outline-none;
  }
  .tertiary-btn {
    @apply box-border justify-center text-white hover:text-picton-blue border border-white hover:border-white hover:bg-white font-bold rounded-sm py-2.5 focus:outline-none;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* :root {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
